.feature {
  position: relative;
  @media only screen and (max-width:1148px) {
      margin-bottom: 20rem;
  }
  @media only screen and (max-width:500px) {
      margin-bottom: 15rem;
  }
  &__heading {
    &--1 {
      position: absolute;
      top: 4rem;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      margin-bottom: -7rem;
      max-width: 25.75rem;
      margin: auto;
      @media only screen and (max-width:1148px) {
        margin-bottom: 3rem;
        position: unset;
        transform: unset;
      }
      @media only screen and (max-width:500px) {
        
        font-size: 1.7rem;
      }
    }
    &--2 {
        margin-bottom: 1.5rem;
        @media only screen and (max-width:500px) {
          font-size: 2rem;
          width: 90%;
          margin: auto;
        }
    }
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31.875rem ,1fr));
    align-items: center;
    max-width: 90%;
    margin: 0 0 0 auto;
    @media only screen and (max-width:1148px) {
      grid-template-columns: unset;
      max-width: 100%;
           
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    @media only screen and (max-width:1148px) {
      justify-self: center;
      text-align: center;
    }
  }
  &__text {
    width: 32.8rem;
    font-size: 1.05rem;
    line-height: 1.8;
    @media only screen and (max-width:600px) {
      width: 85%;
      margin: 1.5rem auto;
    }
    &:not(:last-child){
      width: 33rem;
      margin-bottom: 3rem;
      @media only screen and (max-width:600px) {
      width: 85%;
      }
    }
  }
  &__img {
    position: relative;
    right: -0rem;
    top: -1rem;
    opacity: 0;
  transform: translate(50%, 0%);
  visibility: hidden;
  transition: opacity .5s ease-out, transform .5s ease-out;
  will-change: opacity, visibility;
    @media only screen and (max-width:1148px) {
      justify-self: center;
     grid-area: 1/1/2/2; 
     margin-bottom: 2rem;
    }
    @media only screen and (max-width:600px) {
     width: 100%; 
    }
  }
}
.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex; 
}