.feature {
  position: relative;
  color: var(--color-white);
  @media only screen and (max-width:1148px) {
   margin-bottom: 12rem;   
  }
  &__bg {
    &group {
      position: relative;
      height: 25rem;
      overflow: hidden;
      border-top-right-radius: 5rem;
      border-bottom-left-radius: 5rem;
      background-image: linear-gradient(
        to right,
        var(--gradient-blue-dark),
        var(--gradient-blue)
        );
        @media only screen and (max-width:1148px) {
          height: 40rem; 
        }
        @media only screen and (max-width:400px) {
        height: 35rem;
      
      }
      }
    &img {
      position: absolute;
      top: -32rem;
      left: -11rem;
      @media only screen and (max-width:1148px) {
      left: 50%;
      transform: translateX(-50%);
      }
      @media only screen and (max-width:600px) {
        width: 200%;
      top: -23rem;
      }
    }
  }
  &__row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 69.375rem;
    margin: auto;
    margin-top: -30rem;
    @media only screen and (max-width:1148px) {
      flex-direction: column; 
      margin-top: -55rem;
      width: 90%;
    }
    @media only screen and (max-width:500px) {
      width: 100%;
      margin-top: -50rem;
      
    }
    @media only screen and (max-width:400px) {
      width: 100%;
      margin-top: -45rem;
      
    }
  }
  &__column {
    max-width: 31rem;
    @media only screen and (max-width:1148px) {
     text-align: center; 
    }
  }
  &__img {
    opacity: 0;
  transform: translate(0, 50%);
  visibility: hidden;
  transition: opacity .5s ease-out, transform .5s ease-out;
  will-change: opacity, visibility;
    @media only screen and (max-width:600px) {
     width: 100%; 
    }
  }
  &__heading {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  &__text {
line-height: 1.5;
color: var(--color-grey-light);
@media only screen and (max-width:600px) {
  font-size: 1.1rem;
  width: 90%;
  margin: auto;     
}
}
}
.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex; 
}