.button{
    background-color: transparent;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    font-family: inherit;
    font-weight: 700;
    padding: .7rem 2rem;
    border-radius: 3rem;
    transition: all .3s;
    &:hover{
        cursor: pointer;
        color: var(--color-primary);
        background-color: var(--color-white);
    }
}