.footer{
  background-color: var(--color-grey-dark);
  color: var(--color-grey-light);
  border-top-right-radius: 5rem;
  &__row{
    padding: 4.375rem 18rem 1rem 10rem;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width:868px) {
     flex-direction: column; 
     align-items: center;
     padding: 4.6875rem;
     text-align: center;
    }
  }
  &__logo{
    height: 2.3125rem;
    @media only screen and (max-width:868px) {
     margin-bottom: 4.6875rem; 
    }
  }
  &__heading{
    color: var(--color-white);
    margin-bottom: 2rem;
  }
  &__list{
    list-style: none;
    padding-inline-start: 0;
    @media only screen and (max-width:868px) {
     margin-bottom: 3rem; 
    }
    &-item{
      color: var(--color-grey-light);
      margin-bottom: 1rem;
      transition: all .3s;
      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
  @media only screen and (max-width:868px) {
    margin-top: 0;
      
  }
}
.attribution a {
  color: var(--color-primary-light);
}
